@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.mainGbnow {
  margin-bottom: 90px;
  padding: 0 55px;
  box-sizing: border-box;
  .subTitle {
    font-weight: bold;
    font-size: 43px;
    margin-bottom: 28px;
    position: relative;
    font-family: 'Playfair Display', serif;
  }
  .gbnowList {
    font-size: 0;
    li {
      width: 31.3%;
      display: inline-block;
      margin-bottom: 90px;
      vertical-align: top;

      img {
        display: block;
        max-width: 100%;
      }
      .nowInfo {
        white-space: normal;
        text-align: left;
        word-break: break-all;
        .nowTitle {
          font-weight: 900;
          font-size: 24px;
          margin: 26px 0 9px;
          height: 35px;
        }
        .nowSub {
          font-size: 17px;
        }
        button {
          margin-top: 30px;
          font-size: 16px;
          color: #141414;
          padding: 10px;
          display: inline-block;
          vertical-align: top;
          border-radius: 5px;
          line-height: 1;
          min-width: 120px;
          box-sizing: border-box;
          text-align: center;
          border: 1px solid black;
          background: #fff;
        }
      }
      &:nth-child(3n-1) {
        margin: 0 3% 90px;
      }
    }
  }
}
