.dropdownFilter {
  display: flex;
  justify-content: flex-end;

  .displayOptions {
    display: block;
    width: 15%;
    height: 45px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 30px 0 15px;
    border: 1px solid #bdbdbd;
    border-radius: 1px;
  }
}
