@mixin productImage {
  width: 200px;
  height: 200px;
}

.productCardWrap {
  margin-right: 30px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  .productCardGroup {
    width: 240px;
    padding: 30px;
    display: block;

    .productImage {
      @include productImage;
      margin-bottom: 30px;
    }

    .cardDesc {
      text-align: left;

      strong {
        display: block;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .starRating img {
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
      }

      .bestTag {
        margin-bottom: 5px;
      }
    }
  }
}
