.filterWrap {
  .itemFilter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    border-bottom: 2px solid #da435d;
  }
}
.toggleMenu {
  display: table;
  width: 100%;
  padding: 36px 0;
  background: #fbfbfb;
  border-bottom: 1px solid #e7e7e7;

  li {
    display: table-cell;
    padding: 0 0 0 40px;
    text-align: center;
    line-height: 28px;
  }
}

.toggleBtn {
  width: 200px;
  height: 30px;
  padding: 17px 0 16px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
}
