* {
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}

html,
body {
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon {
  width: 24px;
  height: 24px;
}

@mixin productImage {
  width: 200px;
  height: 200px;
}

.productListWrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;

  h1 {
    font-size: 25px;
    color: #121212;
  }

  button {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  input {
    border: none;
  }

  ul,
  li {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
  }

  p,
  strong {
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }
}
.category {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 54px 0 5px;
  text-align: left;
  font-weight: 700;
}
