.sizePicker {
  display: flex;
  align-items: center;
  height: 50px;

  .sizeS {
    border: 3px solid #777777;
  }

  .sizeM {
    border: 1px solid#b2bec3;
  }

  .sizeL {
    border: 1px solid#b2bec3;
  }

  button {
    border: 1px solid#b2bec3;
    width: 50px;
    height: 24px;
    margin-left: 10px;
    background-color: white;

    &:hover {
      cursor: pointer;
      border: 3px solid #777777;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
